@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: 1px 7px 13px #e5e5e5;
$linear: linear-gradient(354deg, rgba(147,86,220,1) 17%, rgba(255,121,218,1) 82%);
$f-icon: #737373;

* {
    font-family: 'Roboto', sans-serif;
}

/* SMARTPHONE RESPONSIVE DESIGN */
@media only screen and (min-width: 375px) {
body {
    width: 100%;
    margin: 0;
    position: relative;
}

/* HEADER */
.ohmyfood-logo-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-top: 5px;
}

/* LOCATION */
.location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    font-weight: 500;
    color: #353535;
    box-shadow: inset 0px 6px 5px -4px #cacaca;
}

/* BOOKING */
.booking {
    background-color: #f6f6f6;
    padding: 12px;
    padding-bottom: 45px;
    text-align: center;

    h1 {
        margin-top: 25px;
        font-size: 24px;
        font-weight: bold; 
    }

    p {
        margin-bottom: 26px;
        font-size: 18px;
        font-weight: 300;
    }
}

button {
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 33px;
    border: none;
    background: $linear;
    box-shadow: $shadow;
    &:hover {
        opacity: 70%;
        box-shadow: 2px 5px 13px #8c8c89;
    }
}

/* FUNCTIONING */
.functioning-box {
    padding: 20px;

    h2 {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        font-size: 17px;
        font-weight: 500;
    }

    li {
        display: flex;
        justify-content: flex-start;
        gap: 27px;
        align-items: baseline;
        width: 100%;
        padding: 7px;
        border-radius: 22px;
    }

    .functioning-icons {
        color: #737373;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}

.functioning-option-number {
    border: 1px solid $primary;
    border-radius: 100%;
    padding: 3px;
    width: 17px;
    background-color: $primary;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: -15px;
        :hover {
            background-color: $primary;
            cursor: pointer;
        }
}

.functioning-options :hover {
    background-color: #f6eaff;
    cursor: pointer;
}

.choose-restaurant {
    background-color: #f6f6f6;
    border-radius: 15px;
    box-shadow: 1px 7px 13px #e5e5e5;
}

.compose-menu {
    @extend .choose-restaurant;
}

.eat-restaurant {
    @extend .choose-restaurant;
}

/* RESTAURANTS */
.restaurants {
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 70px;
    
    h2 {
        font-weight: bold;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 23px 23px 0 0;
        height: 222px;
    }

    .linear-heart {
        &:hover {
            cursor: pointer;
            max-width: 19px;
            max-height: 19px;
            position: absolute;
            margin-top: 20px;
            margin-left: 284px;
        }
    }
}

.restaurants-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    figure {
        background-color: #FFF;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 23px;
    }

    a {
        display: flex;
        justify-content: flex-end; 
    }

    h3 {
        margin-bottom: 0;
        margin-left: 15px;
    }

    p {
        margin-top: 2px;
        margin-left: 15px;
        font-weight: 300;
    }

    figcaption {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 82px;
    }
}

.new-button-restaurant {
    position: absolute;
    z-index: 2;
    margin-top: 14px;
    margin-right: 14px;
    padding: 6px;
    background-color: $tertiary;
    border-radius: 3px;
    color: #148b6d;
    font-weight: bold;
    width: 22%;
    text-align: center;

    a:visited {
        color: #148b6d;
    }
}

.restaurants-title-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .fa-heart {
        margin-top: 20px;
        margin-right: 22px;
        font-size: 20px;
        position: absolute;
        margin-left: 284px;
        &:hover {
            cursor: pointer;
        }
    }
}   

/* FOOTER */
.footer-box {
    background-color: #353535;
    color: #fff;
    padding: 3px;

    h4 {
    font-family: 'Shrikhand', cursive;
    margin-left: 39px;
    }

    a {
        color:#fff;
        text-decoration: none;
    }
}

.footer-items {
    list-style-type: none;
    line-height: 25px;
}

.footer-first-item {
    margin-left: 10px;
    }

.footer-second-item {
    margin-left: 3px;
}

/* MENUS */ /* HEADER */
header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;

    i {
        margin-left: -60px;
        font-size: 22px;
    }

    h1 {
        font-family: "Shrikhand", cursive;
        margin-top: 20px;
    }

    a:visited {
        color: black;
        }
}
  
  /* PRESENTATION */
.menu {
    img {
      width: 100%;
    }

    .title-and-icon {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 25px;
        width: 93%;
    }

    .title-global-page {
        font-family: "Shrikhand", cursive;
        font-size: 30px;
    }

    i {
        font-size: 27px;
    }
}

.menu-global-container {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    margin-top: -34px;
    position: relative;
    padding-left: 16px;
    padding-right: 1px;
    .order-button {
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: -1%;
        padding: 4%;
        box-shadow: 2px 5px 13px #a1a19f;
        margin-top: 47px;
        margin-bottom: 55px;
        width: 48%;
        &:hover {
            opacity: 70%;
            box-shadow: 2px 5px 13px #8c8c89;
        }
    }
}

#order-button {
    display: flex;
    justify-content: center;
}

.title-starters {
    text-transform: uppercase;
    margin-top: 25px;
    border-bottom: 3px solid $tertiary;
    line-height: 28px;
    width: 12%;
}

.title-dishes, .title-desserts {
    @extend .title-starters;
} 

.food-starter {
    h3 {
        width: 90%;
        margin: 0;
        font-size: 16.5px;
    }
    p {
        margin: 0;
        font-size: 14px;
        margin-top: 0;
    }
}

.food-starter1 {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px;
    height: 47px;
    line-height: 24px;
    box-shadow: $shadow;
    width: 90%;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 2s;
        animation-duration: 2s;
}

.food-starter2 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 4s;
        animation-duration: 4s;
}

.food-starter3 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 6s;
        animation-duration: 6s;
}

.food-starter4 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 8s;
        animation-duration: 8s;
}

@-webkit-keyframes apparition {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

@keyframes apparition {
    from { opacity: 0; }
    to   { opacity: 1; }
  } 

.detail-food {
    width: 90%;
    display: flex;
    flex-direction: column;
}    

.detail-price {
    margin-top: 23px;
    font-size: 15px;
}

.validation-container {
    display: none;

    i {
        color: #fff;
            :hover {
            display: flex;
            background-color: $tertiary;
            display: flex;
            align-items: center;
            width: 10%;
            cursor: pointer;
            }
    }
}

.food-dish, .food-dessert {
    @extend .food-starter;
}

.food-dish1 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 4s;
        animation-duration: 4s;
}

.food-dish2 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 6s;
        animation-duration: 6s;
}

.food-dish3 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 8s;
        animation-duration: 8s;
}

.food-dessert1 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 6s;
        animation-duration: 6s;
}

.food-dessert2 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 8s;
        animation-duration: 8s;
}

.food-dessert3 {
    @extend .food-starter1;
    -webkit-animation-name: apparition;
        animation-name: apparition;
    -webkit-animation-duration: 10s;
        animation-duration: 10s;
}

.step-footer-first {
    @extend .footer-first-item;
}

.step-footer-second {
    @extend .footer-second-item;
}

/* LOADING SPINNER */

$component-dimension: 180px;
$timing: 2s;
$color-shadow: #737373;
$pan-color-light: $primary;
$pan-color-dark: $secondary;
$loader-color: #FDD835;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
    opacity: 1;
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
    opacity: 1;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    opacity: 0.7;
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes shadow {
  0% {
    width: 20%;
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  75% {
    width: 30%;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  margin: 100px auto;
  position: absolute;
  left: 28%;
  top: 9%;

  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing forwards;
    animation-timing-function: linear;
  }
  .pan-container {
    display: flex;
    width: 100%;
    animation: pan $timing forwards;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    border-radius: 20px;
    animation: shadow $timing forwards;
  }
}
  
.fade-in {
	-webkit-animation-name: fadein-opacity;
	        animation-name: fadein-opacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}

@-webkit-keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
}

/* OTHER RESPONSIVE DESIGN */
@media only screen and (min-width: 480px) {
#order-button {
    width: 97%;
}
}

/* TABLET RESPONSIVE DESIGN */
    @media only screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    /* LOADING SPINNER */
    .pan-loader {
        left: 43%;
    }

    /* LOCATION */
    .location {
        p {
            font-size: 20px;
        }
    }

    /* BOOKING */
    .booking {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 24px;
        }
        button {
            padding: 22px;
            font-size: 22px;
        }
    }

    /* FUNCTIONNING */
    .functioning-box {
        h2 {
            margin-bottom: 30px;
        }

        ul {
            flex-wrap: nowrap;
        }

        li {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 14px;
            align-items: center;
                p {
                    margin-top: 3px;
                    font-size: 19.5px;
                }
        }
    }

    .functioning-option-number {
        margin-left: 0px;
        width: 30px;
        height: 30px;
        align-items: center;
        font-size: 18px;
        margin-top: -22px;
    }

    .functioning-icons {
        font-size: 40px;
    }

    /* RESTAURANTS */
    .restaurants {
        width: 95%;
    }

    .new-button-restaurant {
        font-size: 21px;
        width: 12%;
    }

    .restaurants-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 22px;
        }
        figcaption {
            height: 111px;
        }
        figure {
            display: flex;
            flex-direction: column;
            width: 48%;
        }
    }

    .restaurants-title-container .fa-heart {
        font-size: 35px;
        margin-right: 35px;
    }

    /* FOOTER */ 
    .footer-box {
        h4 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 3px;
            margin-left: 0;
        }
    }

    .footer-items {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        padding-left: 0;
    }

    /* MENUS */
    .menu img {
        height: 195px;
        object-fit: cover;
    }

    .menu-global-container {
        .order-button {
            width: 24%;
            padding: 2%;
        }
    }

    #order-button {
        width: 100%;
    }
}


/* PC RESPONSIVE DESIGN MIN 992px */
@media only screen and (min-width: 992px) {
    h2 {
        font-size: 25px;
        text-align: center;
    }

    /* LOADING SPINNER */
    .pan-loader {
        left: 43%;
        top: 13%;
    }

    /* LOCATION */
    .location {
        p {
            font-size: 18px;
        }
    }

    /* BOOKING */
    .booking {
        h1 {
            font-size: 22px;
        }
        p {
            font-size: 17px;
        }
        button {
            padding: 15px;
            font-size: 16px;
        }
    }

    /* FUNCTIONING */
    .functioning-box {
        li {
            flex-direction: row;
            width: 27%;
            gap: 18px;
            height: 40px;
            p {
                margin-bottom: 0;
                font-size: 16px;
            }
        }
        ul {
            gap: 40px;
        }
    }

    .functioning-icons {
        font-size: 16px;
    }

    .functioning-option-number {
        margin-top: 0px;
        margin-left: -43px;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    /* RESTAURANTS */
    .restaurants-box {
        flex-direction: row;
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }
        figcaption {
            height: 80px;
        }
    }

    .new-button-restaurant {
        font-size: 18px;
        width: 10%;
    }

    .restaurants-title-container .fa-heart {
        font-size: 18px;
        margin-right: 18px;
    }

    /* FOOTER */ 
    .footer-box {
        padding-left: 35px;
        h4 {
            font-size: 24px;
            text-align: start;
            margin-bottom: 0px;
        }
    }

    .footer-items {
        text-align: start;
        font-size: 16px;
        line-height: 30px;
    }

    /* MENUS */
    .menu img {
        height: 250px;
        object-fit: cover;
    }

    .menu-global-container {
        .order-button {
            width: 17%;
            padding: 1.5%;
        }
    }
}

/* PC RESPONSIVE DESIGN MIN 1200px */
@media only screen and (min-width: 1200px) {
    
    h2 {
        font-size: 24px;
        text-align: center;
    }

    /* LOCATION */
    .location {
        p {
            font-size: 16px;
        }
    }

    /* BOOKING */
    .booking {
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
        button {
            padding: 15px;
            font-size: 16px;
        }
    }

    /* RESTAURANTS */
    .restaurants-box {
        figure {
            width: 23%;
        }
    }

    .new-button-restaurant {
        font-size: 18px;
        width: 8%;
    }
}