
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* RESPONSIVE DESIGN PHONE */
@media only screen and (min-width: 320px) {

body {
    width: 100%;
    margin: 0;
}

/* HEADER */
.ohmyfood-logo-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-top: 5px;
}

/* LOCATION */
.location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    font-weight: bold;
    color: #353535;
    box-shadow: 1px 7px 13px #e5e5e5;
}

/* BOOKING */
.booking {
    background-color: #f6f6f6;
    padding: 12px;
    padding-bottom: 45px;
    text-align: center;

    h1 {
        margin-top: 25px;
        font-size: 24px;
        font-weight: bold; 
    }

    p {
        margin-bottom: 26px;
        font-size: 18px;
    }
}

button {
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 33px;
    border: none;
    background: linear-gradient(354deg, rgba(147,86,220,1) 17%, rgba(255,121,218,1) 82%);
}
    }

/* FUNCTIONING */
.functioning-box {
    padding: 20px;

    h2 {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        font-size: 17px;
        font-weight: bold;
    }

    li {
        display: flex;
        justify-content: flex-start;
        gap: 27px;
        align-items: baseline;
        width: 100%;
        padding: 7px;
        border-radius: 22px;
    }

    .fas {
        color: #737373;
        :hover {
            color: #9356DC;
        }
    }
}

.functioning-option-number {
    border: 1px solid #9356DC;
    border-radius: 100%;
    padding: 3px;
    width: 17px;
    background-color: #9356DC;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: -15px;
}

ul :hover {
    background-color: #f6eaff;
}

.choose-restaurant {
    background-color: #f6f6f6;
    border-radius: 15px;
    box-shadow: 1px 7px 13px #e5e5e5;
}

.compose-menu {
    @extend .choose-restaurant;
}

.eat-restaurant {
    @extend .choose-restaurant;
}

/* RESTAURANTS */
.restaurants {
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 70px;
    
    h2 {
        font-weight: bold;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 23px 23px 0 0;
        height: 222px;
    }
}

.restaurants-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    figure {
        background-color: #FFF;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 23px;
    }

    a {
        display: flex;
        justify-content: flex-end; 
    }

    h3 {
        margin-bottom: 0;
        margin-left: 15px;
    }

    p {
        margin-top: 2px;
        margin-left: 15px;
    }

    figcaption {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 82px;
    }
}


.new-button-restaurant {
    position: absolute;
    z-index: 2;
    margin-top: 14px;
    margin-right: 14px;
    padding: 6px;
    background-color: #99E2D0;
    border-radius: 3px;
    color: #148b6d;
    font-weight: bold;
    width: 22%;
    text-align: center;

    a:visited {
        color: #148b6d;
    }
}

.restaurants-title-container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .fa-heart {
        margin-top: 20px;
        margin-right: 22px;
        font-size: 20px;
        :hover {
            background: linear-gradient(354deg, rgb(147, 86, 220) 17%, rgb(255, 121, 218) 82%);
        }
    }
}

/* FOOTER */
.footer-box {
    background-color: #353535;
    color: #fff;
    padding: 3px;

    h4 {
    font-family: 'Shrikhand', cursive;
    margin-left: 39px;
    }

    a {
        color:#fff;
        text-decoration: none;
    }
}

.footer-items {
    list-style-type: none;
    line-height: 25px;
}

.footer-first-item {
    margin-left: 10px;
    }

.footer-second-item {
    margin-left: 3px;
}

/* MENUS */ /* HEADER */
header {
    display: flex;
    align-items: baseline;
    justify-content: center;

    i {
        margin-left: -60px;
        font-size: 22px;
    }

    h1 {
        font-family: "Shrikhand", cursive;
        margin-top: 20px;
    }

    a:visited {
        color: black;
        }
}
  
  /* PRESENTATION */
.menu {
    img {
      width: 100%;
    }

    .title-and-icon {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 25px;
    }

    .title-global-page {
        font-family: "Shrikhand", cursive;
        font-size: 30px;
    }

    i {
        font-size: 27px;
    }
}

.menu-global-container {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    margin-top: -34px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.title-starters {
    text-transform: uppercase;
    margin-top: 25px;
    border-bottom: 3px solid #99E2D0;
    line-height: 28px;
    width: 12%;
}

.title-dishes, .title-desserts {
    @extend .title-starters;
}

.food-starter {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 10px;
    height: 47px;
    line-height: 24px;
    box-shadow: 1px 7px 13px #e5e5e5;
        
    h3 {
        width: 95%;
        margin: 0;
        font-size: 17px;
    }

    .detail-food {
        width: 95%;
        display: flex;
        justify-content: space-between;
            p {
                margin: 0;
                font-size: 14px;
            }
    }

    span {
        display: flex;
        justify-content: flex-end;
        width: 10%;
        font-size: 15px;
    }
}

.validation-container {
    display: none;

    i {
        color: #fff;
            :hover {
            display: flex;
            background-color: #99E2D0;
            display: flex;
            align-items: center;
            width: 10%;
            }
    }
}

.food-dish, .food-dessert {
    @extend .food-starter;
}

.menu-global-container {
    button {
        margin-top: 47px;
        margin-bottom: 55px;
        width: 58%;
    } 
}

.footer-global {
    @extend .footer-box;
}

.footer-index {
    @extend .footer-items;
}

.step-footer-first {
    @extend .footer-first-item;
}

.step-footer-second {
    @extend .footer-second-item;
}

