@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: 1px 7px 13px #e5e5e5;
$linear: linear-gradient(354deg, rgba(147,86,220,1) 17%, rgba(255,121,218,1) 82%);
$f-icon: #737373;

* {
    font-family: 'Roboto', sans-serif;
}

/* RESPONSIVE DESIGN PHONE */
@media only screen and (min-width: 320px) {

body {
    width: 100%;
    margin: 0;
    position: relative;
}

/* HEADER */
.ohmyfood-logo-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-top: 5px;
}

/* LOCATION */
.location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    font-weight: 500;
    color: #353535;
    box-shadow: inset 0px 6px 5px -4px #cacaca;
}

/* BOOKING */
.booking {
    background-color: #f6f6f6;
    padding: 12px;
    padding-bottom: 45px;
    text-align: center;

    h1 {
        margin-top: 25px;
        font-size: 24px;
        font-weight: bold; 
    }

    p {
        margin-bottom: 26px;
        font-size: 18px;
        font-weight: 300;
    }
}

button {
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 33px;
    border: none;
    background: $linear;
}
    }

/* FUNCTIONING */
.functioning-box {
    padding: 20px;

    h2 {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        font-size: 17px;
        font-weight: 500;
    }

    li {
        display: flex;
        justify-content: flex-start;
        gap: 27px;
        align-items: baseline;
        width: 100%;
        padding: 7px;
        border-radius: 22px;
    }

    .functioning-icons {
        color: #737373;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}

.functioning-option-number {
    border: 1px solid $primary;
    border-radius: 100%;
    padding: 3px;
    width: 17px;
    background-color: $primary;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: -15px;
        :hover {
            background-color: $primary;
            cursor: pointer;
        }
}

.functioning-options :hover {
    background-color: #f6eaff;
    cursor: pointer;
}

.choose-restaurant {
    background-color: #f6f6f6;
    border-radius: 15px;
    box-shadow: 1px 7px 13px #e5e5e5;
}

.compose-menu {
    @extend .choose-restaurant;
}

.eat-restaurant {
    @extend .choose-restaurant;
}

/* RESTAURANTS */
.restaurants {
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 70px;
    
    h2 {
        font-weight: bold;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 23px 23px 0 0;
        height: 222px;
    }

    .linear-heart {
        max-width: 20px;
        max-height: 20px;
        display: none;
    }
}

.restaurants-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    figure {
        background-color: #FFF;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 23px;
    }

    a {
        display: flex;
        justify-content: flex-end; 
    }

    h3 {
        margin-bottom: 0;
        margin-left: 15px;
    }

    p {
        margin-top: 2px;
        margin-left: 15px;
        font-weight: 300;
    }

    figcaption {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 82px;
    }
}


.new-button-restaurant {
    position: absolute;
    z-index: 2;
    margin-top: 14px;
    margin-right: 14px;
    padding: 6px;
    background-color: $tertiary;
    border-radius: 3px;
    color: #148b6d;
    font-weight: bold;
    width: 22%;
    text-align: center;

    a:visited {
        color: #148b6d;
    }
}

.restaurants-title-container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .fa-heart {
        margin-top: 20px;
        margin-right: 22px;
        font-size: 20px;
        &:hover {
            background: $linear;
            cursor: pointer;
        }
    }
}


/* FOOTER */
.footer-box {
    background-color: #353535;
    color: #fff;
    padding: 3px;

    h4 {
    font-family: 'Shrikhand', cursive;
    margin-left: 39px;
    }

    a {
        color:#fff;
        text-decoration: none;
    }
}

.footer-items {
    list-style-type: none;
    line-height: 25px;
}

.footer-first-item {
    margin-left: 10px;
    }

.footer-second-item {
    margin-left: 3px;
}

/* MENUS */ /* HEADER */
header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;

    i {
        margin-left: -60px;
        font-size: 22px;
    }

    h1 {
        font-family: "Shrikhand", cursive;
        margin-top: 20px;
    }

    a:visited {
        color: black;
        }
}
  
  /* PRESENTATION */
.menu {
    img {
      width: 100%;
    }

    .title-and-icon {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 25px;
        width: 93%;
    }

    .title-global-page {
        font-family: "Shrikhand", cursive;
        font-size: 30px;
    }

    i {
        font-size: 27px;
    }
}

.menu-global-container {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    margin-top: -34px;
    position: relative;
    padding-left: 16px;
    padding-right: 1px;
}

#order-button {
    display: flex;
    justify-content: center;
    width: 90%;
}

.title-starters {
    text-transform: uppercase;
    margin-top: 25px;
    border-bottom: 3px solid $tertiary;
    line-height: 28px;
    width: 12%;
}

.title-dishes, .title-desserts {
    @extend .title-starters;
}

.food-starter {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px;
    height: 47px;
    line-height: 24px;
    box-shadow: $shadow;
    width: 90%;
        
    h3 {
        width: 90%;
        margin: 0;
        font-size: 17px;
    }

    p {
        margin: 0;
        font-size: 14px;
        margin-top: 0;
    }
}

.detail-food {
    width: 90%;
    display: flex;
    flex-direction: column;
}    

.detail-price {
    margin-top: 23px;
    font-size: 15px;
}

.validation-container {
    display: none;

    i {
        color: #fff;
            :hover {
            display: flex;
            background-color: $tertiary;
            display: flex;
            align-items: center;
            width: 10%;
            cursor: pointer;
            }
    }
}

.food-dish, .food-dessert {
    @extend .food-starter;
}

.menu-global-container {
    button {
        margin-top: 47px;
        margin-bottom: 55px;
        width: 58%;
    } 
}

.footer-global {
    @extend .footer-box;
}

.footer-index {
    @extend .footer-items;
}

.step-footer-first {
    @extend .footer-first-item;
}

.step-footer-second {
    @extend .footer-second-item;
}

.loader {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 17%;
    left: 29%;
    transform: translate(-22%, -44%);
    -ms-transform: translate(-22%, -44%);
-webkit-transform: translate(-22%, -44%);
-moz-transform: translate(-22%, -44%);
  transform: translate(-22%, -44%);
}

.loader::before {
    content: '';  
    position: absolute;
    left: 66%;
    bottom: 28%;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    border: 10px solid #FFF;
    border-bottom-color: $primary;
    box-sizing: border-box;
    animation: rotation 0.7s cubic-bezier(0.65, -0.56, 0.1, 1.33) infinite;
}
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.fade-in {
	-webkit-animation-name: fadein-opacity;
	        animation-name: fadein-opacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

@-webkit-keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fadein-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.disparition {
	-webkit-animation-name: dispariton-opacity;
	        animation-name: disparition-opacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

@-webkit-keyframes disparition-opacity {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@-moz-keyframes disparition-opacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes disparition-opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.title-starters,
.food-starter {
  -webkit-animation-name: progressive;
          animation-name: progressive;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.title-dishes,
.food-dish {
  -webkit-animation-name: progressive;
          animation-name: progressive;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.title-desserts,
.food-dessert {
  -webkit-animation-name: progressive;
          animation-name: progressive;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}